# ==============================
# CONFIGURAÇÕES DO GIGA TECH
# ==============================
APP_URL="https://app.mentorasolucoes.com.br/Voti-1.0.7/login.xhtml"
APP_USER="seu_email@dominio.com.br"
APP_SENHA="sua_senha"
APP_URL_SEM_LOGIN="https://app.mentorasolucoes.com.br/Voti-1.0.7/"

# ==============================
# CONFIGURAÇÕES DO SUPABASE
# ==============================
SUPABASE_URL="https://sua-url-do-projeto.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
SUPABASE_BUCKET="Relatorios"

# Opcional: Se quiser salvar os relatórios dentro de uma subpasta específica (ex: "For Men")
SUPABASE_FOLDER_BASE=""

# ==============================
# NOMES DAS TABELAS NO SUPABASE
# ==============================
SUPABASE_TABLE="Vendas For Men"
SUPABASE_TABLE_ESTOQUE="Estoque For Men"

# Pasta retroativa customizada (se quiser rodar os scripts para um dia do passado)
SUPABASE_FOLDER_CUSTOM=
